<!DOCTYPE html>
<html lang="uz">
<head>
    <meta charset="UTF-8">
    <title>Admin Panel</title>
</head>
<body>
    <h1>Yangi mashina qo‘shish</h1>
    <form id="car-form">
        <input type="text" id="number" placeholder="Davlat raqami" required>
        <input type="text" id="owner" placeholder="Egasi" required>
        <input type="text" id="model" placeholder="Mashina modeli" required>
        <button type="submit">Qo‘shish</button>
    </form>

    </body>
</html>
