<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Online Parkovka</title>
</head>
<body>
    
    <h1>Mashinalar ro'yxati</h1>
    <ol id="cars_list">
        <%for(let i = 0; i<=cars.length - 1;i++) {%>
        <li><%=cars[i].model%></li>
        <%}%>
    </ol>
    
</body>
</html>